@import url('https://fonts.googleapis.com/css?family=Lato');

*{
	box-sizing:border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	margin: 0;
	padding: 0;

	font-family: 'Lato', sans-serif;
	font-size: 14px;
	color: #f0f7ff;

}

body{	

	padding: 0px;

	min-width: 335px;
	min-height: 600px;
	
}

article.content-info{
    padding: 24px;
}
.justify-txt{
	text-align: justify;
}
.center-content{
    text-align: center;
}

.shadow-bg{
    background-color: rgba(35, 35, 35, 0.7);
}
.rad-corner{
	padding: 				8px;
	border-radius: 			8px;
	-moz-border-radius: 	8px;
	-webkit-border-radius: 	8px;
	border: 0px solid #000000;
}

.rad-corner-min{
	border-radius: 			4px;
	-moz-border-radius: 	4px;
	-webkit-border-radius: 	4px;
	border: 0px solid #000000;
}

.simple-container{
	margin: auto;
    max-width: 60%;
}
div.parallax-window{
	min-height: 1080px;
	padding: 120px;
}

@media (max-width: 1000px){
	.simple-container{
		max-width: 80%;
	}
	div.parallax-window{
		padding: 60px;
	}	
}
@media (max-width: 750px){
	.simple-container{
		max-width: 90%;
	}
}
@media (max-width: 560px){
	.simple-container{
		max-width: 100%;
	}
	div.parallax-window{
		padding: 20px;
	}
}

.accent-text{
	display: block;
	font-size: 18px;
}

.info-cube{
	display: inline-block;
	text-align: center;

	cursor: pointer;
	margin: 12px;
}
.info-cube-container{
	overflow-x: scroll;
	overflow-y: hidden;
}
.info-cube span{
	display: block;
}
.info-cube img{
	max-height: 180px;
	max-width: 180px;
}

#loading-window{
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0px;
	left: 0px;

	background-color: #045cc8; /* For browsers that do not support gradients */
	background: -webkit-linear-gradient(right top, #033a7d, #045cc8); /* For Safari 5.1 to 6.0 */
	background: -o-linear-gradient(bottom left, #033a7d, #045cc8); /* For Opera 11.1 to 12.0 */
	background: -moz-linear-gradient(bottom left, #033a7d, #045cc8); /* For Firefox 3.6 to 15 */
	background: linear-gradient(to bottom left, #033a7d, #045cc8); /* Standard syntax */
}
.loading-msg-container{
	display: inline-block;
	background-color: #033a7d;
	padding:32px;
	
	width: 30%;
	margin-left: 35%;
	margin-top: 300px;

	text-align: center;
}
.loading-msg-container p{
	margin: 12px;
	font-size: 18px;
}
.loading-anim{
	max-height: 60px;
}

.social-box{
	margin: 26px 14px;
	padding: 16px;
	display: inline-block;

}
.social-icon{
	margin: 6px;
}

.gallery-container{
	overflow-x: scroll;
	overflow-y: hidden;
	padding: 12px;
	margin: 4px;
}

.little-top-space{
	margin-top: 10px;
}

.gallery-container img{
	max-height:	180px;
	max-width: 	180px;
	margin: 5px;
	cursor: pointer;
}